@import "tailwindcss";

@theme {
  --color-accent: #644E84;

  /* Overrides the default serif font with Old Standard TT */
  --font-serif: var(--font-old-standard), serif;

  /* Creates a brand new utility class for Poetsen One */
  --font-poetsen: var(--font-poetsen-one), sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black antialiased;
  }
}